@import url(../../assests/css/theme.css);


.card-container {
    width: 286px;
    height: 408px;
}

.card-content {
    width: 100%;
    overflow: hidden;
    padding: 1rem;
}

.card-content:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.c-img-block {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.c-img {
    width: 100%;
    height: 300px;
    position: relative;
}

.heart-icon {
    position: absolute;
    top: 5px;
    right: 12px;
}


.card-content-block {
    top: 100%;
    position: relative;
    transition: all .3s ease-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: .5rem;
}

.card-content:hover>.card-content-block {
    top: 100;
}

.brand-name {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    color: var(--card-primary-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.pro-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 20px;
    gap: 1rem;
}

.product-name {
    text-overflow: ellipsis;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    text-transform: capitalize;
}

.f-assured-logo {
    width: 66px;
    height: 18px;
}

.pricess-block {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: .4rem;
}

.dis-price {
    font-size: 16px;
    font-weight: var(--font-weight);
    color: #212121;
}

.main-price {
    text-decoration: line-through;
    font-size: var(--font-size);
    color: var(--card-primary-color);
    font-weight: var(--font-weight);
    margin-top: .1rem;
}

.dis-per {
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -.2px;
    font-weight: var(--font-weight);
    margin-top: .1rem;
}

.size-block {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.size-title {
    font-size: var(--font-size);
    color: var(--card-primary-color);
    font-weight: var(--card-primary-color);
}

.sizes {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: .2rem;
}